<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="form_devarea">
                    <div class="box-body">

                        <div class="book_coursetab" style="overflow-x: auto;">
                            <table class="table book_coursetable">
                                <thead>
                                    <tr>
                                        <th class="text-center">Sl.no</th>
                                        <th>Nom</th>
                                        <th>Cours</th>
                                        <th>Date</th>
                                        <th>Comments</th>
                                        <!-- <th>Heure</th> -->
                                        <!-- <th>Statut</th>
                                        <th>Action</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="cutomerReviewCollection.length==0">
                                        <td colspan="6" class="text-center" style="font-size: 14px;padding-top: 30px;">
                                            AUCUNE DONNÉE DISPONIBLE</td>
                                    </tr>
                                    <tr
                                        *ngFor="let rowData of cutomerReviewCollection | paginate: { itemsPerPage: 10, currentPage: p }; let i=index">
                                        <td>{{ i+1 }}</td>
                                        <td> {{rowData.first_name }} {{rowData.last_name }}</td>
                                        <td align="left"> {{rowData.course}} </td>
                                        <td align="left"> {{rowData.review_date}} </td>
                                        <td> {{rowData.comments}}</td>

                                        <!-- <td>{{rowData[4]}} </td> -->
                                        <!-- <td>
                                            <span *ngIf="rowData[6] == 'B'" style="color: #3cd376;">Réservé</span>
                                            <span *ngIf="rowData[6] == 'A'" style="color: #dbb126;">Accepté</span>
                                            <span *ngIf="rowData[6] == 'R'" style="color: #de6111;">Demande de réservation</span>
                                            <span *ngIf="rowData[6] == 'S'" style="color:darkblue;">Reprogramm`e</span>
                                            <span *ngIf="rowData[6] == 'C'" style="color: #f00612;">Annulé</span>
                                            <span *ngIf="rowData[6] == 'UC'" style="color: #111110;">prestation annulée</span>

                                        </td> -->

                                        <!-- <td>
                                            <a data-toggle="modal" class="btn des_abt_btn view_reservation" style="cursor: pointer;"
                                                data-target="#myModal_edit_course" id="bookingDetailPage"
                                                (click)="approveDialog($event,rowData,rowData[4],rowData[3])">
                                                
                                                VOIR
                                                </a>
                                            </td> -->
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event" previousLabel="Précédent"
                                style="float: right; padding: 11px;" nextLabel="Prochain" directionLinks="true"
                                autoHide="true" responsive="true">
                            </pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

</div>